/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

:root {
  font-size: 18px;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family);
  font-variation-settings: 'wght' var(--font-weight-text);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--color-line-repeat-gradient),
      var(--color-line-repeat-gradient) 2px,
      rgb(0 0 0 / 0) 2px,
      rgb(0 0 0 / 0) 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--color-line-repeat-gradient),
      var(--color-line-repeat-gradient) 2px,
      rgb(0 0 0 / 0) 2px,
      rgb(0 0 0 / 0) 4px
    ),
    linear-gradient(
      var(--color-line-gradient-start),
      var(--color-line-gradient-end)
    );
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
  padding: 100px 0;
}

.card-conteiner {
  width: clamp(20.833rem, 14.476rem + 30.516vw, 38.889rem);
  background-color: var(--bg-color);
  border: 1px solid var(--accent-color);
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(120px, 120px + (16 * ((100vw - 375px) / 1065)), 136px) 0 25px;
  font-family: var(--accent-font-family);
  margin-bottom: 100px;
}

.heading {
  font-size: clamp(2.722rem, 2.409rem + 1.502vw, 3.611rem);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.heading-subtitle {
  font-size: clamp(0.778rem, 0.602rem + 0.845vw, 1.278rem);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  font-size: 14px;
  padding-left: 18px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__item .theme-menu__button {
  padding: 1px 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__item .theme-menu__button:disabled::before {
  content: '▶';
  color: var(--accent-color);
  position: absolute;
  left: -20px;
  animation: moveChose 0.5s ease-in-out infinite alternate;
}

.theme-menu__item .theme-menu__button:hover,
.theme-menu__item .theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__item .theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__item .theme-menu__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__item .theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card-title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title);
  padding: 3px 10px;
}

.card-image {
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  width: auto;
  position: relative;
}

.card-image img {
  display: block;
  width: 100%;
}

.card-image__label {
  position: absolute;
  top: 31px;
  right: 26px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 0.5px var(--bg-color)) {

  .card-image__label {
    -webkit-text-stroke: 0.5px var(--bg-color);
  }
}

@supports not (-webkit-text-stroke: 0.5px var(--bg-color)) {

  .card-image__label {
    text-shadow:
      1px 1px 0 var(--bg-color),
      -1px 1px 0 var(--bg-color),
      1px -1px 0 var(--bg-color),
      -1px -1px 0 var(--bg-color);
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 25px 26px 23px 25px;
}

.card-footer {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 6px;
  padding: 0 25px 26px 0;
}

.card-footer .card__icon-button {
  padding: 0;
  width: 37px;
  min-height: 38px;
}

.card-footer .card__icon-button svg {
  width: 39px;
  height: 36px;
  display: block;
}

.card-footer .card__icon-button:focus-visible svg {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 1px var(--accent-color);
}

.button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--color-button-text);
  mix-blend-mode: difference;
  font-family: var(--accent-font-family);
  font-size: 14px;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body,
.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body,
.like-icon:active .core {
  fill: var(--fill-like);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--fill-like);
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: var(--fill-like);
}

.like-icon.is-liked .contour,
.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  transform: scale(1);
  animation: scaleLike 0.3s ease-in 0.1s;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: showSparks 0.3s ease-in 0.3s;
}

.footer-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: clamp(17rem, 16.433rem + 2.723vw, 18.611rem);
  border: 1px solid var(--accent-color);
  padding: 15px 19px;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button__image {
  width: 21px;
  height: 21px;
}

@media (width <= 375px) {

  .card-conteiner {
    width: 100%;
  }

  .card-image__label {
    top: 27px;
    right: 10px;
  }

  .footer-button {
    flex-direction: column;
  }

  .button__image {
    width: 28px;
    height: 28px;
  }
  
}

.footer-dialog {
  font-size: 14px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  row-gap: 16px;
  position: fixed;
  inset: 0;
  width: clamp(341px, 18.631rem + 1.502vw, 357px);
  padding: 30px;
  background-color: var(--bg-color);
  color: var(--accent-color);
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
}

.footer-dialog .dialog__text {
  font-family: var(--accent-font-family);
  line-height: 150%;
}

.footer-dialog svg {
  display: block;
  margin-top: 10px;
  width: 39px;
  height: 39px;
}

.footer-dialog .dialog__button {
  border: 2px solid var(--accent-color);
  width: 100%;
  text-transform: uppercase;
  grid-column: 1 / -1;
  padding: 12px 0;
}

.footer-dialog:not([open]) {
  pointer-events: none;
  display: none;
}

.footer-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.filter-contrast {
  filter: contrast(2);
}

.filter-brightness {
  filter: brightness(1.7);
}

.filter-hue-rotate {
  filter: hue-rotate(250deg);
}

.filter-blur {
  filter: blur(5px);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-saturate {
  filter: saturate(5);
}

.filter-drop-shadow-contrast {
  filter: drop-shadow(0 0 40px) contrast(2);
}
